@model Qwe.Models.Pens
@{
    ViewBag.Title = "Изменение";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование</title>
</head>
<body>
    <div>
        <h3>Форма редактирования штанов</h3>
        <form method="post" action="">
            <input type="hidden" value="@Model" name="PensId" />
            <table>
                <tr>
                    <td><p>Введите пол : </p></td>
                    <td>
                        <p><input list="Sex" name="Sex" value="@Model.Sex" required/></p>
                        <datalist id="Sex">
                            <option>Мужской</option>
                            <option>Женский</option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td><p>Введите название : </p></td>
                    <td><input type="text" name="Name" value="@Model.Name" required/> </td>
                </tr>
                <tr>
                    <td><p>Введите размер : </p></td>
                    <td>
                        <p><input list="Size" name="Size" value="@Model.Size" required /></p>
                        <datalist id="Size">
                            <option>44</option>
                            <option>46</option>
                            <option>48</option>
                            <option>50</option>
                            <option>52</option>
                            <option>54</option>
                            <option>56</option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td><p>Введите цену : </p></td>
                    <td>
                        <input type="text" name="Price" value="@Model.Price" required/>
                    </td>
                </tr>
                <tr><td><input type="reset" value="Отчистить" /> </td><td></td></tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
        <form action="/Pens/Pen">
            <button type="submit">Назад</button>
        </form>
    </div>
</body>
</html>