@model  Qwe.Models.Short
@{
    ViewBag.Title = "Редактирование";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование</title>
</head>
<body>
    <div>
        <h3>Форма редактирования майки</h3>
        <form method="post" action="">
            <input type="hidden" value="@Model" name="ShortId" />
            <table>
                <tr>
                    <td><p>Введите пол : </p></td>
                    <td><input type="text" name="Sex" value="@Model.Sex" /> </td>
                </tr>
                <tr>
                    <td><p>Введите название : </p></td>
                    <td><input type="text" name="Name" value="@Model.Name" /> </td>
                </tr>
                <tr>
                    <td><p>Введите размер : </p></td>
                    <td><input type="text" name="Size" value="@Model.Size" /> </td>
                </tr>
                <tr>
                    <td><p>Введите цену : </p></td>
                    <td>
                        <input type="text" name="Price" value="@Model.Price" />
                    </td>
                </tr>
                <tr><td><input type="reset" value="Отменить измнения" /> </td><td></td></tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
        <form action="/Home/Index">
            <button type="submit">Назад</button>
        </form>
    </div>
</body>
</html>